<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обо мне</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="header-links">
        <a href="/" class="header-link">Главная</a>
    </div>
</header>

<section id="about">
    <h2>Обо мне</h2>
    <p>
        Привет! Я разработчик, увлекаюсь созданием веб-приложений, ботов для Telegram и Discord, а также автоматизацией процессов с помощью Python. Обожаю решать интересные задачи и постоянно совершенствую свои навыки.
    </p>
</section>

<section id="contacts">
    <h2>Контакты</h2>
    <p>Связаться со мной можно по следующим каналам:</p>
    <ul>
        <li>Email: michael.morozuk01@gmail.com</li>
        <li>Телеграм: @Misha_fun</li>
        <li>Discord: yourdiscord#1234</li>
    </ul>
</section>

</body>
</html>
